.Container{
    width: 25vw;
}

.Chatwindow{
    margin-top: 30%;
    width: 100%;
    height: 60vh;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    overflow-y: scroll;
    overflow-x: none; 
}
::-webkit-scrollbar {
    width: 0;   
}

.inputContainer{
    display: flex;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 0 0 1rem 1rem;
}

.inputContainer input{
    width: 82%; 
    height: 2em;
    border-radius: 1rem; 
    margin: 2px; 
    padding: 5px; 
}
.inputContainer button{
    background-color: grey;
    color: white;
    border-radius: 1rem;
    border: none;
    margin: 2px 0;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .Chatwindow{
        margin-top: 0;
        width: 96vw;
        height: 80vh;
        background-color: white;
    }
    .inputContainer{
        width: 96vw;
    }
    .inputContainer input{ 
        height: 2em;
    }
    .suggestions{
        width: 100vw;
    }
}

.Chatbox{
    padding: 10px 2px;
}
.leftcontainer{
    width: 50%;
}
.rightcontainer{
    width: 50%;
    margin-left: auto;
}
.suggestions{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    width: 100%;
    background-color: white;
    height: fit-content;
    padding: 5px 0;
}
.sugmessages{
    width: fit-content;
    font-size: small;
    /* border: 1px solid grey; */
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}
.sugmessages:hover{
    transform: rotate(0) scale(1.2) translateZ(0);
  -webkit-filter: drop-shadow(0 20px 20px  rgba(0, 0, 0, 0.70));
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
    background-color: grey;
}

.incomingChat{
    font-size: small;
    max-width: fit-content;
    padding: 5px 10px;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 0 1rem 1rem 1rem;
    box-shadow: 1px 1px;
}
.sentChat{
    font-size: small;
    width: fit-content;
    background-color: rgb(156, 163, 156);
    padding: 5px 10px;
    border-radius: 1rem 1rem 0 1rem;
    margin-left: auto;
    box-shadow: 1px 1px;
}